.cardActivityContainer{
    width: 50rem;
    height: 100%;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 2px 10px gray;
    border-radius: 1rem;
    padding: 1rem;

}
.activityTittle{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1rem;
    margin-left: 1rem;
    
}
.activityDetailList{
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    
}


.imgCountryActivity{
    height: 3rem;
    width: 3rem;   
    border-radius: 3rem;
    
    
}
.listActivity1{
    text-align: start;
    margin-right: 3rem;
}

.listActivity3{
    display: flex;
    flex-direction: column;
    margin-left: 6rem;
    align-items: center

;}