.listCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.containerExtreme{
    display: flex;
    margin-left: 10rem;
    margin-right: 10rem;
    flex-direction: column;
}

.paginated{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 3rem;
    margin-bottom: 6rem;
    width: 65rem;
    
}

.buttonPaginated{

    height: 2rem;
    
    width: 2rem;    
    border-radius: 2rem;
    border: none;
    background-color: rgb(80, 74, 55);
    color: white;
    cursor: pointer;
    margin-left: 0px;


}

.buttonPaginated:hover{
    transform: scale(1.1);
} 

/* .countriesFilters{
    display: flex;
    flex-direction: row;
} */


.filters{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-left: 23.2rem;
    
   
    

    
}


.select{
   margin-left: 3rem;
   height: 2rem;
   border: none;
   box-shadow: 0px 2px 10px gray;

}
