.imagenYtitulo{
    height: 5rem;
}

.imagen{
    height: 4rem;
    width: 4rem;
    border-radius: 3rem;
    
}
.imagen:hover{
    transform:scale(1.2)
}

.carta{
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    box-shadow: 0px 2px 10px gray;
    width: 13rem;
    padding-top: 1rem;
}

.infoCountryCard{
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
    margin-left: 1rem;
    margin-bottom: 1rem;
    margin-top: 3rem;
    
}

.buttonCard{
    
    width: 50%;
    
    border-radius: 3rem;
    border: none;
    box-shadow: 0px 2px 10px gray;
    margin-bottom: 1rem;
    cursor: pointer;
    padding: 0.7rem;


}