.footer{
    display: flex;
    width: 100%;
    background-color: #502d0ed3;
    padding: 2rem;
    margin-top: 3rem;
    margin-bottom: 0;

}

.rutasFooterContainer{
    display: flex;
    flex-direction: row;
  
}

.rutasFooter{
    margin-top: 0.2rem;
    color: white;
    cursor: pointer;
    margin-left: 5rem;
    width: 2%;
    text-decoration: none;
    
}