
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }


.formContainerExtreme{
    display: flex;
    flex-direction: row;
    margin-left: 13rem;
    margin-top: 2rem;


}

  .formContainer{  
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 35rem;
    height: 24rem;
    margin-bottom: 2rem;
    margin-top: 3rem;
/*     margin-left: 11rem;
 */    border-radius: 1rem;
    box-shadow: 0px 2px 10px gray;

    
}

.formContainer2{
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 2px 10px gray;
    height: 24rem;
    width: 22rem;
    margin-top: 3rem;
    margin-left: 1rem; 
    border-radius: 1rem;

}

.aux{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2rem;
    margin-top: 2rem;
}


.nameLarge{
    width: 4.7rem;
    justify-content: center;
    text-align: center;
    align-items: center;

}
.check {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #333;
    border-radius: 50%;
    outline: none;
    transition: all 0.2s ease-in-out;
    position: relative;
    margin-right: 5px;
    vertical-align: middle;
  }
  
  .check:hover{
    cursor: pointer;
  }
  
  .check:checked {
    background-color: #333;
    border-color: #333;
  }
  
  .check:checked::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    animation: checkmark 0.2s ease-in-out forwards;
  }
  
  @keyframes checkmark {
    0% {
      transform: translate(-50%, -50%) scale(0);
    }
    100% {
      transform: translate(-50%, -50%) scale(1);
    }
  }


/* .selectedCountryContainer{
    display: flex;
    flex-direction: row;
    margin-left: 4rem;
    
} */



.imgCountrySelected{
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
}

.imgCountrySelected:hover{
    transform:scale(1.2)
}

.form{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    width: 15rem;
    font-size: 1rem;
    margin-top: 2rem;
    margin-left: 1.5rem;

}   

.input{
    height: 2rem;
    margin-top: 1rem;
    
}
.input:focus {
    outline: none;
  }

 /*  .buttonForm{
    display: flex;  
    height: 4rem;
    width: 4rem;
    border-radius: 3em;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem;
    border: none;
    justify-content: center;
    box-shadow: 0px 2px 10px gray;
    cursor: pointer;

    
}
.buttonForm:hover{
    transform:scale(1.1)
} */

.buttonForm{    
    display: flex;
    margin-left: 1.5rem;
    margin-right: auto;
    cursor: pointer;
    margin-top: 5.3rem;
    height: 2rem;
    width: 15rem;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0px 2px 10px gray;

}

.buttonForm:hover{
    transform:scale(1.1)
} 

.pForValidation{
  font-size: 0.8rem;
  color: gray;
}
.labelsStrongs{
  
  font-weight: lighter;
}

.validationError{
  color: red;
  font-size: 0.8rem;

}
.validationErrorInput:focus{
  height: 2rem;
  margin-top: 1rem;
}
